name: Windows-RDP
on: workflow_dispatch
jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Set up Remote Desktop
      run: |
        $authCode = "ใส่รหัสของลักษณ์จาก_GOOGLE_ที่นี่"
        Invoke-WebRequest -Uri https://dl.google.com/edgedl/chrome-remote-desktop/chromeremotedesktophost.msi -OutFile crd.msi
        Start-Process msiexec.exe -Wait -ArgumentList "/i crd.msi /qn"
        & "${Env:ProgramFiles(x86)}\Google\Chrome Remote Desktop\CurrentVersion\remoting_start_host.exe" --code="$authCode" --redirect-url="https://remotedesktop.google.com/_/oauthredirect" --name=$Env:COMPUTERNAME --pin=123456
    - name: Keep Alive
      run: Start-Sleep -Seconds 21600
